body {
    text-align: center;
    background-color: #011F3F;
  }


#level-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    margin: 5%;
    color: #FEF2BF;
}

.container {
    display: block;
    width: 50%;
    margin: 0 auto;
}

.btn {
    margin: 25px;
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
    display: inline-block;
}

.game-over {
    background-color: red;
    opacity: 0.8;
  }

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}

.pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
  }



@media only screen and (max-width: 1020px) {

    #level-title {
        font-size: 3rem;
    }

    .container {
        width: 80%;
    }
    
}



@media only screen and (max-width: 767px) {

    #level-title {
        font-size: 1.75rem;
    }

    .container {
        width: 100%;
    }

    .btn {
        height: 120px;
        width: 120px;
    }
}
